@import "vars";
@import "fonts";
@import "libs";
@import "reset";


::placeholder {
	color: #666;  
}

body {
	height: 2000px;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $main-font;
	overflow-x: hidden;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.header {
    height: 100vh;
    background: url('./../img/header.png');    
    color: #fff;
    &-top {
    	padding: 45px 0;
    }
}