@import "vars";
@import "fonts";
@import "libs";
@import "reset";

@import "../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css";

// @import "../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.scss";


::placeholder {
	color: #666;   
}

.button {
	max-width: 235px;
	padding: 10px 30px;
	background: $main-color;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	cursor: pointer;
	outline: none;
	outline: none;
	border: 0;
	color: #fff;
	transition: all .2s;
	box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, .3);
	&:hover {
		box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, .7);
	}
}

body {
	padding-bottom: 500px;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.5;
	font-family: $main-font;
	overflow-x: hidden;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green; 
		}
	}
}

.custom-container {
	max-width: 1170px;
	margin: 0 auto;
	@media screen and (max-width: 1200px) {
		padding: 0 20px;
	}
}

.line {
	width: 700px;
	height: 6px;
	background: $main-color;
	opacity: .6;
	position: absolute;
}

.section-title {
	margin: 75px auto 7px auto;
	font-family: $second-font-bold;
	font-weight: bold;
	font-size: 45px;
	line-height: 53px;
	text-align: center;
	color: $secondary-color;
}
.section-description {
	display: inherit;
	font-family: $main-font;
	font-weight: 600;
	line-height: 1.3;
	font-size: 25px;
	text-align: center;
	color: #1C0700;
	max-width: 900px;
	margin: 0 auto 50px;
}

.warning {
	width: 100%;
	background: $main-color;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 0;
	position: relative;
	.bg-line {
		position: absolute;
		background-image: url('../img/little.png');
		background-size: 37px;
		width: 100%;
		height: 10px;
		&.top {
			top: 0;
		}
		&.bottom {
			bottom: 0;
		}
	}
	.alarm-image {
		margin-right: 5px;
		width: 37px;
		margin-top: 8px;
	}
	p {
		font-size: 35px;
	}
}




.header {
	position: relative;
	height: 100vh; 
	overflow: hidden;
	background-image: url('./../img/header.png');   
	background-size: cover; 
	color: #fff;
	.logo {
		width: 120px;
		margin-right: 20px;
		img {
			width: 100%;
		}
	}
	.navbar-toggler {
		color: #fff;
		border: 0;
		outline: 0;
	}
	.navbar-light .navbar-toggler-icon {
		background: none;
	}
	.navbar-toggler[aria-expanded=true] {
		.burger {
			span {
				&:first-of-type {
					transform: skew(-45deg, 45deg);
					margin-top: 9px;
				}
				&:nth-child(2) {
					transform: skew(45deg, -45deg);
					margin-bottom: 9px;
				}
				&:last-of-type {
					transform: rotateX(90deg);
				}
			}
		}
	}
	.burger {
		margin-top: 5px;
		width: 30px;
		height: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		span {
			display: block;
			width: 30px;
			height: 3px;
			background: #fff;
			transition: all .2s;
		}
	}
	
	&-top {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px 0;
		&_left {
			display: flex;
			align-items: center;
			
			.nav {
				ul {
					display: flex;
					li {
						margin-left: 40px;
					}
				}
			}
		}
		&_right {
			display: flex;
			.email {
				margin-left: 40px;
			}
		}
	}
	&-text {
		position: absolute;
		top: 55%;
		transform: translateY(-50%);
		display: flex;
		flex-direction: column;
		margin-left: 120px;
		font-family: $second-font;
		.pre-text {
			font-weight: 500;
			font-size: 32px;
			line-height: 36px;
		}
		&_title {
			font-weight: bold;
			font-size: 70px;
			line-height: 82px;
			margin-bottom: 45px;
		}
		&_description {
			font-family: $second-font-bold;
			font-size: 50px;
			line-height: 59px;
			color: $main-color;
			margin-bottom: 35px;
			position: relative;
			.line-1 {
				width: 100%;
				left: calc(-100% - 25px);
				bottom: 12px;
			}
			.line-2 {
				width: 6px;
				height: 1000px;
				top: calc(100% + 25px);
				right: 0;
			}
		}
		
	}
}



.section-2 {
	.blocks {
		padding-top: 90px;
		padding-bottom: 120px;
		.block {
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			margin-top: -30px;
			&:nth-of-type(n+3) {
				.number {
					line-height: 170px;
				}
			}
			&:nth-of-type(6) {
				.number {
					line-height: 141px;
				}
			}
			&-text {
				width: 600px;
				.number {
					color: $main-color;
					font-family: $second-font;
					font-weight: 600;
					font-size: 120px;
					line-height: 141px;
					margin-bottom: -20px;
					span {
						display: inline-block;
						position: relative;
					}
					.line {
						bottom: 26px;
					}
				}
				.title {
					font-size: 25px;
				}
				.description {
					margin-left: 60px;
				}
			}
			&-img {
				width: 470px;
				height: 470px;
				z-index: 5;
				img {
					width: 100%;
				}
			}
			&-right {
				.line {
					left: calc(100% + 18px);
				}
				.block-img {
					margin-left: 30px;
				}
			}
			&-left {
				.number {
					text-align: right;
				}
				.block-img {
					margin-right: 30px;
				}
				.line {
					right: calc(100% + 18px);
				}
			}
		}
	}
}



.section-3 {
	padding-top: 75px;
	.section-title {
		margin: 0;
		max-width: 250px;
		text-align: left;
		margin-bottom: 23px;
		position: relative;
		.line {
			background: $secondary-color;
			bottom: 10px;
			left: 100%;
			opacity: .8;
		}
		&+span {
			font-family: $second-font;
			font-weight: bold;
			font-size: 20px;
			line-height: 24px;
		}
	}
	.blocks {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.block {
			&-text {
				max-width: 600px;
			}
			&-img {
				width: 525px;
				overflow: hidden;
				z-index: 5;
				img {
					width: 100%;
				}
			}
		}
	}
}



.section-4 {
	.section {
		&-description {
			font-size: 20px;
			margin-bottom: 50px;
		}
	}
	.table-main {
		padding: 15px 40px;
		max-width: 780px;
		color: #878787;
		background: #F9F9F9;
		margin: 0 auto; 
		ul {
			display: flex;
			justify-content: center;
			text-align: center;
			border-bottom: 2px solid #f1f1f1;
			&:last-of-type {
				border-bottom: 0;
			}
			li {
				width: 65px;
				border-left: 2px solid #f1f1f1;
				padding: 5px 0;
				&:first-of-type {
					width: 200px;
					border-left: 0;
					text-align: left;
				}
			}
		}
	}
	.blocks {
		padding-bottom: 60px;
		.block {
			display: flex;
			padding: 60px 0;
			&-img {
				display: flex;
				justify-content: flex-end;
				width: 50%;
				position: relative;
				.images {
					display: flex;
					flex-direction: column;
					justify-content: center;
					margin-right: 40px;
					margin-top: -75px;
					a {
						width: 75px;
						height: 75px;
						border-radius: 50%;
						margin-bottom: 10px;
						overflow: hidden;
						&:first-of-type {
							background-image: url(../img/section-4/cart1/1.png);
							background-size: contain;
							background-repeat: no-repeat;
							background-position-y: 10px;
							position: absolute;
							transform: translateY(-50%);
							top: 50%;
							right: 125px;
							width: 400px;
							min-height: 435px;
							height: auto;
							margin-bottom: 0;
							&:hover {
								background-image: url(../img/section-4/cart1/2.png);
							}
						}
						img {
							width: 100%;
						}
					}
					&-2 {
						a {
							&:first-of-type {
								background-image: url(../img/section-4/cart2/1.png);
								&:hover {
									background-image: url(../img/section-4/cart2/2.png);
								}
							}
						}
					}
					&-3 {
						a {
							&:first-of-type {
								background-image: url(../img/section-4/cart3/1.png);
								&:hover {
									background-image: url(../img/section-4/cart3/2.png);
								}
							}
						}
					}
					&-4 {
						a {
							&:first-of-type {
								background-image: url(../img/section-4/cart4/1.png);
								&:hover {
									background-image: url(../img/section-4/cart4/2.png);
								}
							}
						}
					}
					&-5 {
						a {
							&:first-of-type {
								background-image: url(../img/section-4/cart5/1.png);
								&:hover {
									background-image: url(../img/section-4/cart5/2.png);
								}
							}
						}
					}
					&-6 {
						a {
							&:first-of-type {
								background-image: url(../img/section-4/cart6/1.png);
								&:hover {
									background-image: url(../img/section-4/cart6/2.png);
								}
							}
						}
					}
				}
			}
			&-text {
				width: 570px;
				padding: 45px 100px 60px 100px;
				background: #F2F4F5;
				position: relative;
				& > div {
					display: flex;
					justify-content: space-between;
				}
				&-title {
					margin-bottom: 35px;
					font-family: $second-font-bold;
					font-size: 35px;
					line-height: 41px;
					text-align: center;
					color: $secondary-color;
				}
				&-price {
					&_number {
						font-size: 50px!important;
						line-height: 27px;
						font-weight: 900;
					}
				}
				span {
					width: 50%;
					margin-bottom: 24px;
					font-size: 25px;
					color: #1C0700;
					font-weight: bold;
					text-align: left;
					
				}
				.select-div {
					position: relative;
					width: 50%;
					height: 30px;
					select {
						width: 100%;
						height: 100%;
						padding-left: 10px;
						outline: none;
						border: 0;
						color: $main-color;
						font-size: 20px;
						font-weight: 600;
						position: relative;
						cursor: pointer;
						webkit-appearance: none;
						-moz-appearance: none;
						appearance: none;
						option {
							background: #fff; 
						}
					}
					label {
						border: 7px solid transparent;	
						border-top: 7px solid $main-color;
						position: absolute;
						right: 5px;
						top: 65%;
						transform: translateY(-50%);
						z-index: 5;
					}
				}
				.button-div {
					width: 100%;
					margin-bottom: 35px;
					.button {
						width: 100%;
						margin: 0 auto;
						max-width: 235px;
						padding: 12px 30px;
						text-transform: uppercase;
						font-size: 25px;
					}
				}
				.warning {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					background: $secondary-color;
					opacity: .7;
					text-transform: uppercase;
					p {
						font-size: 20px;
						margin: 0 auto;
					}
				}
			}
		}
	}
}



.section-5 {
	.blocks {
		padding-top: 90px;
		padding-bottom: 100px;
		.block {
			display: flex;
			align-items: center; 
			margin-top: -40px;
			&-icon {
				position: absolute;
				width: 200px;
				height: 200px;
				z-index: 100;
				left: 30%;
				right: auto;
				img {
					width: 100%;
				}
			}
			&-img {
				width: 53%;
				height: 430px;
				z-index: 5;
				background-size: cover;
				background-position: center;
			}
			&-text {
				width: 47%;
				padding: 0 100px;
				display: flex;
				flex-direction: column;
				&-title {
					margin-bottom: 10px;
					margin: 0 50px;
					padding: 0 15px;
					font-family: $second-font-bold;
					font-size: 25px;
					line-height: 30px;
					position: relative;
					color: $secondary-color;
				}
				&-description {
					font-size: 18px;
					font-weight: 600;
					color: #1C0700;
					display: block;
					width: 430px;
				}
				.line {
					bottom: 6px;
					right: 100%;
				}
			}
			&.right {
				.block {
					&-text {
						&-title {
							text-align: right;
						}
						&-description {
							align-self: flex-end;
						}
						.line {
							left: 100%; 
						}
					}
					&-icon {
						left: auto;
						right: 30%;
					}
				}
			}
		}
	}
}


.section-6 {
	padding-top: 70px;
}
