@import "../../node_modules/bootstrap3/dist/css/bootstrap.scss";
@import "../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.scss";
@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "../../node_modules/bootstrap-select/sass/bootstrap-select.scss";
@import "../../node_modules/bootstrap-select/sass/variables.scss";
@import "../../node_modules/jquery-bootstrap-scrolling-tabs/src/scss/jquery.scrolling-tabs.scss";
@import "partials/variables";
@import "partials/header";
@import "partials/footer";


html {
  height: 100%;
  min-height: 100%;
  position: relative;
}

body {
  //height: 100%;
  min-height: 100%;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  position: relative;

  text-rendering: optimizeLegibility;
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
}

body > main {
  height: 100%;
}

button {
  outline: none;
  &:focus {
    outline: none;
  }
}

.custom-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;

  @media only screen and (max-width: 1200px) {
    padding: 0 15px;
  }
  &.header-container {
    max-width: 1306px;
    padding: 0;
  }
}



